* {
  background:                  #FFFFFF;
  background-alt:              #F0F0F0;
  foreground:                  #000000;
  selected:                    #464646;
  active:                      #FFFFFF;
  urgent:                      #3C3C3C;
  border:                      #F0F0F0;
  background-alpha:            rgba(255, 255, 255, 0.75);
}

configuration {
  icon-theme:                  "Papirus-Light";
}